.container-login {
  max-width: 400px;
  max-height: 300px;
  margin: auto;
  padding-top: 20px;
  .logo-unoff {
    margin: auto;
    padding-top: 10px;
    cursor: pointer;
  }
  .login-form {
    border-radius: 6px;
    border: 1px solid #eaeaea;
    margin: 20px;
    text-align: left;
    .card-user {
      cursor: pointer;
      border: 2px solid #aaaaaa;
      img {
        border: 2px solid #aaaaaa;;
      }
      &:hover {
        color: #673ab7;
        border: 2px solid #673ab7;
        img {
          border: 2px solid #673ab7;;
        }
      }
    }
  }

  .btn-login {
    cursor: pointer;
    opacity: 0.8;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 260px;
    border-radius: 5px;
    &:hover {
      opacity: 1;
    }
  }

  
}


