<div class="container-login">
  <mat-card class="container dis card-login">
    <img #load (click)="refresh()" class="logo-unoff" alt="logo" src="assets/img/tatami.svg">
    <div class="login-form">
      <mat-card class="card-user" (click)="navigate()">
        <mat-card-header>
          <img alt="i" mat-card-avatar [src]="user ? user.picture : 'assets/img/tatami.svg'">
          <mat-card-title>{{user ? user.name : ''}}</mat-card-title>
          <mat-card-subtitle>{{user ? user.email : ''}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="container dis" *ngIf="!isPopUp && !user">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" #email>
        <mat-icon class="bath" matSuffix>
          mail
        </mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" #password>
        <mat-icon class="bath" matSuffix>
          lock
        </mat-icon>
      </mat-form-field>
      <button (click)="altLogin(email.value, password.value)" mat-raised-button color="primary">Login</button>
    </div>
    <br>
    <img *ngIf="isPopUp" (click)="login()" class="btn-login" src="assets/img/btn_google_signin.png">
  </mat-card>
</div>

