<div class="container">
  <h3>TODO:</h3>
  <ul>
    <li>Hacer un listado de miembros con ficha detalle (obtener, editar, agregar y eliminar.)</li>
    <li>Llenar con datos previos (rol y grado)</li>
    <li>Añadir Firebase Storage, foto ficha</li>
    <li>Pagos y resumen de cuentas</li>
    <li>Dashboard (Cantidad alumnos, ingreso mensual, ingrerso anual, etc.)</li>
    <li>Toma de examen (Miembros participantes y orden, registro de notas.)</li>
    <li>*API Instagram</li>
    <li>*API Google Calendar</li>
    <li>Firebase auth: uid, *Nota: Sacar localStorage.</li>
  </ul>
  <div style="display: block;" *ngIf="false">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
    </canvas>
  </div>
</div>
