<div class="container">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Miembros
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>people_alt</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="expansion-panel-container">
        <div class="table-container mat-elevation-z8">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value, dataSource)" placeholder="Buscar">
          </mat-form-field>
          <mat-progress-bar *ngIf="showProgress" mode="indeterminate"></mat-progress-bar>
          <table mat-table [dataSource]="dataSource" *ngIf="membersList.length > 0">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"  [ngClass]="element.item.active == 'false' ? 'inactive' : ''"> {{element.item.name}} </td>
            </ng-container>

            <ng-container matColumnDef="training_address">
              <th mat-header-cell *matHeaderCellDef> Dojang </th>
              <td mat-cell *matCellDef="let element" [ngClass]="element.item.active == 'false' ? 'inactive' : ''"> {{element.item.training_address}} </td>
            </ng-container>

            <ng-container matColumnDef="current_belt">
              <th mat-header-cell *matHeaderCellDef> Grado </th>
              <td mat-cell *matCellDef="let element" [ngClass]="element.item.active == 'false' ? 'inactive' : ''">
                <div class="grade-belt" [style.backgroundColor]="checkGradeColorPrimary(element.item.current_belt)">
                  <span [style.color]="checkGradeColorSecondary(element.item.current_belt)">{{checkGradeText(element.item.current_belt)}}</span>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="money">
              <th mat-header-cell *matHeaderCellDef>Dineros</th>
              <td mat-cell *matCellDef="let element" [ngClass]="element.item.active == 'false' ? 'inactive' : ''">
                <span class="mat-col-icon">
                  <mat-icon class="money" aria-hidden="false" aria-label="icon">attach_money</mat-icon>
                </span>
              </td>
            </ng-container>

            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef> Detalles </th>
              <td mat-cell *matCellDef="let element" [ngClass]="element.item.active == 'false' ? 'inactive' : ''">
                <mat-icon (click)="openDialogDetails(element.item, element.id)" class="edit" aria-hidden="false" aria-label="icon">person_pin</mat-icon>
                <ng-container *ngIf="element.responsable">

                  <ng-container *ngFor="let item of element.responsable">

                    <mat-icon class="edit resp" [matMenuTriggerFor]="menuEditResp" aria-hidden="false" aria-label="icon">person_pin</mat-icon>
                    <mat-menu #menuEditResp="matMenu">
                      <div mat-menu-item (click)="openDialogMemberDetailById(item)">
                        <span>Ver detalles</span>
                      </div>
                      <div mat-menu-item (click)="deleteResp(element.id, item)">
                        <span>Eliminar</span>
                      </div>
                    </mat-menu>

                  </ng-container>

                </ng-container>
                <mat-icon class="add-resp" [matMenuTriggerFor]="menuResp" matTooltip="Asignar apoderado"
                          matTooltipPosition="right">group_add</mat-icon>
                <mat-menu #menuResp="matMenu">
                  <div mat-menu-item *ngFor="let obj of responsables" (click)="addResp(element.id, obj.id)">
                    <span>{{obj.id}} - <b>{{ obj.name }}</b></span>
                  </div>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Apoderados
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>people_alt</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="expansion-panel-container">
        <div class="table-container mat-elevation-z8">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value, dataSource2)" placeholder="Buscar">
          </mat-form-field>
          <mat-progress-bar *ngIf="showProgress" mode="indeterminate"></mat-progress-bar>
          <table mat-table [dataSource]="dataSource2" *ngIf="responsables.length > 0">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.item.name}} </td>
            </ng-container>

            <ng-container matColumnDef="money">
              <th mat-header-cell *matHeaderCellDef>Dineros</th>
              <td mat-cell *matCellDef="let element">
        <span class="mat-col-icon">
          <mat-icon class="money" aria-hidden="false" aria-label="icon">attach_money</mat-icon>
        </span>
              </td>
            </ng-container>

            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef> Detalles </th>
              <td mat-cell *matCellDef="let element">
                <mat-icon (click)="openDialogDetails(element.item, element.id)" class="edit" aria-hidden="false" aria-label="icon">person_pin</mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<button (click)="openDialogAddMember()" class="float" mat-fab color="primary">
  <mat-icon aria-hidden="false" aria-label="icon">person_add</mat-icon>
</button>
