<mat-sidenav-container>
  <mat-sidenav class="align-center" #sidenav mode="over" [(opened)]="opened">
    <div class="menu-header">
      <div><img routerLink="/" class="logo-header cursor-pointer" alt="logo" src="assets/img/logo-min.png"></div>
    </div>
    <div class="menu-item" routerLink="/" (click)="sidenav.toggle()"><mat-icon class="icon-header" aria-hidden="false" aria-label="icon">dashboard</mat-icon></div>
    <div class="menu-item" routerLink="/datacenter" (click)="sidenav.toggle()"><mat-icon class="icon-header" aria-hidden="false" aria-label="icon">assignment</mat-icon></div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="user">
      <mat-toolbar-row>
        <mat-icon (click)="sidenav.toggle()" class="icon-header">menu</mat-icon>
        <span><img routerLink="/" class="logo-header cursor-pointer" alt="logo" src="assets/img/logo-min.png"></span>
        <span class="spacer-header"></span>

        <mat-icon class="icon-header" [matMenuTriggerFor]="menuNot" matBadge="1" matBadgeColor="warn">notifications</mat-icon>
        <mat-menu #menuNot="matMenu">
          <div mat-menu-item>
            <mat-icon>emoji_people</mat-icon>
            <span><b>Bienvenido </b> {{ user.name }} !</span>
          </div>
        </mat-menu>

        <span class="icon-header"><img [matMenuTriggerFor]="menuGmail" src="{{user.picture}}" alt="{{ user.email }}"></span>
        <mat-menu #menuGmail="matMenu">
          <div mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>{{ user.name }}</span>
          </div>
          <a mat-menu-item href="https://mail.google.com/mail/u/0/">
            <mat-icon>email</mat-icon>
            <span>{{ user.email }}</span>
          </a>
          <button mat-menu-item (click)="logout()">
            <mat-icon>cancel</mat-icon>
            <span>Cerrar sesión</span>
          </button>
        </mat-menu>

        <mat-icon class="icon-header" [matMenuTriggerFor]="menuMore">more_vert</mat-icon>
        <mat-menu #menuMore="matMenu">
          <button (click)="openDialogNotes()" mat-menu-item>
            <mat-icon>event_note</mat-icon>
            <span>Notas</span>
          </button>
        </mat-menu>

      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

