.main-tip{
  position: absolute;
  display: flex;
  align-items: center;
  height: 60px;
  width: auto;
  border-radius: 10px;
  z-index: 10;
  padding: 10px;
  color: #ffffff;
  background-color: #673ab7;
}

.menu-header {
  background-color: #673ab7;
  padding: 15px;
}

.icon-header {
  cursor: pointer;
  padding: 0 14px;
  img {
    height: 36px;
    border-radius: 50%;
    background-color: #eaeaea;
    padding: 2px;
    &:hover{
      background-color: #2e1d56;
    }
  }
  &:hover{
    color: #2e1d56;
  }
}

.logo-header {
  height: 30px;
  cursor: pointer;
}

.logo-header-side {
  height: 30px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .logo-header {
    display: none;
  }
}

.spacer-header {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 250px;
}

.menu-item{
  cursor: pointer;
  padding: 20px;
  .icon-header {
    color: #2e1d56;
  }
  &:hover {
    background-color: #2e1d56;
    .icon-header {
      color: #ffffff;
    }
  }
}

.new-not {
  animation: bounce 0.5s infinite alternate;
  -webkit-animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
  from {
      transform: translateY(0px);
  }
  to {
      transform: translateY(-3px);
  }
}
@-webkit-keyframes bounce {
  from {
      transform: translateY(0px);
  }
  to {
      transform: translateY(-3px);
  }
}

.chats {
  width: 100%;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
  .dialog-chat {
    position: relative;
    width: 160px;
    height: 40px;
    background-color: yellowgreen;
    p {
      color: aliceblue;
      font-size: 11px;
    }
    img {
      width: 100%;
      height: auto;
      border-radius: 100%;
      border: 1px solid green;
    }
  }
}