/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field{
  width: 100%;
}
.align-center{
  text-align: center !important;
}
.center-item{
  padding-top: 60px;
  margin: auto;
  width: 80%;
}
.title-form{
  font-size: 24px;
  margin-bottom: 15px;
  text-decoration: underline;
}
.card-login{
  text-align: center;
  padding: 0 !important;
  img{
    height: 60px;
  }
}
.mat-input-element{
  font-size: 28px !important;
}
