.profile-picture {
  width: 100%;
}

table{
  width: 100%;
  text-align: center !important;
  td, th {
    text-align: center !important;
  }
}

.mat-header-cell {
  border-left: 1px solid #e0e0e0;
  padding: 10px;
}
.mat-cell{
  border-left: 1px solid #e0e0e0;
  padding: 10px;
}
