.profile-picture {
  width: 100%;
}

table{
  width: 100%;
  text-align: center !important;
  td, th {
    text-align: center !important;
  }
}

.mat-header-cell {
  border-left: 1px solid #e0e0e0;
  padding: 10px;
}
.mat-cell{
  border-left: 1px solid #e0e0e0;
  padding: 10px;
}

.mat-dialog-content {
  border-left: 10px solid #f1f1f1;
  border-top: 10px solid #f1f1f1;
  border-bottom: 10px solid #f1f1f1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}