<h1 mat-dialog-title>Detalles</h1>
<div mat-dialog-content>
  <div>
    <img style="width: 15%;" src="{{data.item.picture}}">
  </div>
  <mat-form-field>
    <input matInput [(ngModel)]="data.item.name">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.item.current_belt">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.item.training_address">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button (click)="putMemberDetail()" mat-raised-button color="primary">Guardar</button>
</div>
